<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <title> REGISTRO </title>
        

        <link href="{% static 'WebApp/css/styles.css' %}" rel="stylesheet">

    </head>

    <body>
        <section class = "form-register">
            <form action ="/index/" method = "GET">
                <h1> INICIA SESION </h1>
                <input class= "box" type="text" name = "nombre" placeholder="Nombre de usuario">
                <input class= "box" type="password" name = "password" placeholder="Pasword">
                <p><input class= "button" type="submit" value= "Aceptar">
                <input class= "button" type="submit" value= "Cancelar"></p>
        
            </form>
        </section>
    </body>
</html>